CLOUDFLARE_ACCOUNT_ID="123"
CLOUDFLARE_API_TOKEN="321"

# Auth token that Backend uses to make API calls to the builder
# Same as USER_DEPLOYMENTS_API_AUTH_KEY env var in the backend 
# @from USER_DEPLOYMENTS_API_AUTH_KEY
BACKEND_AUTH_TOKEN=

# Backend webhook delivery configuration
# URL endpoint where build events will be sent (REQUIRED)
# @url nextjs/api/user-deployments/webhook
BACKEND_EVENTS_URL=http://localhost:3000/api/user-deployments/webhook

# Maximum number of events to batch before sending
BACKEND_WEBHOOK_BATCH_MAX_EVENTS="100"
# Maximum time in milliseconds to wait before sending a batch
BACKEND_WEBHOOK_BATCH_MAX_MS="2000"
# Base backoff time in milliseconds for retry attempts
BACKEND_WEBHOOK_BACKOFF_BASE_MS="2000"
# Maximum attempts before giving up
BACKEND_WEBHOOK_STOP_AFTER_ATTEMPTS="10"

# Private key. Is used to decrypt user's ENV vars (value in 1password)
ENV_ENCRYPTION_PRIVATE_KEY=""